@model Minesweeper.Models.CellClass

@{ string[] imagename = { "oringinal.png", "clicked.png", "minehit.png", "flagged.png" };}

<button class="btn" type="submit" name="ButtonNumber" value="@Model.Id" asp-controller="GameBoard" asp-action="ButtonClick">
    <img class="cell" src="~/img/@imagename[Model.CellPic]" />
</button>